@use 'sass:map';
@use '@angular/material' as mat;

@mixin customTable($theme) {
  $color-config: mat.get-color-config($theme);

  $foreground: map.get($theme, foreground);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  .mat-table.mat-table-bordered {
    border-collapse: collapse;

    .mat-header-cell,
    .mat-cell {
      border-color: mat.get-color-from-palette($foreground, 'divider');
      border-style: solid;
      border-width: 1px;
      @apply p-2;
    }
  }
}

@mixin customSelect($theme) {
  .mat-form-field {
    &[nohint],
    &[hidehint] {
      .mat-form-field-wrapper {
        margin-bottom: -1.25em;
      }
    }
  }
}
